@use "mixin";
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0;
    }
    &-inner > * {
        width: 33.3333%;
    }
    &-items {
        display: flex;
        justify-content: flex-end;
    }
    &-items > * {
        margin-left: 20px;
    }
}
.main-menu {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }
    &__link:hover {
        background: #000;
        color: #fff;
    }
}

// BANNER
.banner {
    &__img {
        width: 100%;
    }
}
// SECTION
.section-heading {
    border-bottom: 1px solid #000;
    padding: 17px 0;
    margin-bottom: 60px;
    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}
.checkout {
    padding: 40px;

    .checkout-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .bill {
        padding: 20px 50px;
    }



    .bill-heading {
        font-size: 36px;
        font-weight: 600px;
    }

    .bill-full-name {
        display: flex;
        justify-content: space-between;
    }

    .bill-block__name {
        font-weight: 500;
    }

    .bill-block-input {
        width: 210px;
        height: 55px;
        padding-left: 15px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #9F9F9F;
        margin: 25px 0;
    }

    .bill-body {
        display: flex;
        flex-flow: column;
    }

    /* .bill-body__name {
        padding: 20px 0;
    } */

    .bill-body__input {
        padding-left: 15px;
        height: 55px;
        border-radius: 10px;
        outline: none;
        border: 1px solid #9F9F9F;
        margin: 25px 0;
    }

    .bill-products {
        /* background-color: #B0B0B0; */
        padding: 70px 40px;
    }

    .bill-products-heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid #D9D9D9;
    }

    .heading__left--title {
        font-weight: 500;
        font-size: 24px;

    }

    .heading__right--title {
        font-weight: 500;
        font-size: 24px;
        text-align: right;
    }

    .heading__left--text {
        padding: 15px 0;
        margin: 0;
    }

    .heading__right--text {
        padding: 15px 0;
        text-align: right;
        margin: 0;
    }

    .color {
        color: #9F9F9F;
        font-weight: 400;
    }

    .orange {
        color: #B88E2F;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
    }


    .desc__title {
        font-weight: 400;
    }

    .desc__text--color {
        line-height: 24px;
        color: #9F9F9F;
        font-weight: 300;
    }

    .desc-check {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    .desc-check:hover {
        color: #000;
    }

    .desc__input--color {
        color: #9F9F9F;
        font-weight: 500;
        border-radius: 50%;
    }

    .desc__text {
        line-height: 24px;
    }

    .desc__btn {
        width: 320px;
        height: 65px;
        border-radius: 15px;
        border: 1px solid black;
        background: none;
        margin: 40px 100px;
    }
}
.box_services {
    background-color: #FAF3EA;
    width: 100%;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 70px 50px;
    border-bottom: 2px solid #e8e7e7;

    .services_sup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services_icon img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .services_text {
        line-height: 30px;
    }

    .services_text_heading h1 {
        font-size: 20px;
    }

    .services_text_desc {
        color: #898989;
    }

}

/* ==== FOOTER ==== */

footer {
    border-top: 1px solid #B0B0B0;
    padding-top: 25px;

    .footer-top {
        display: flex;
    }

    .footer-top__logo--name {
        margin-bottom: 66px;
    }

    .footer-top__logo--text {
        color: #9F9F9F;

    }



    .footer-top__box--row {
        display: flex;
        gap: 40px;
        margin-left: 120px;
    }

    .footer-top__box--col {
        list-style: none;
    }

    .footer-top__box--name:first-child {
        margin-bottom: 44px;
    }

    .footer-top__box--link__color {
        color: #B0B0B0;

        padding: 0;
        text-decoration: none;
    }

    .footer-top__box--name {
        padding-bottom: 35px;
        font-weight: 500px
    }

    .footer-top__box--link {
        text-decoration: none;
        color: black;
    }

    .footer-top__box--input {
        width: 200px;
        padding: 0;
        border: none;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        font-size: 14px;
        margin-right: 15px;
        outline: none;
    }

    .footer-top__box--btn {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding-bottom: 5px;
        background: none;
        font-weight: 500px;
    }

    .footer-bottom {
        border-top: 1px solid #D9D9D9;
        padding: 30px 0;
    }
}